<%- model_class = Store -%>

<% content_for :header do %>
    <div class="page-header">
      <h3><%= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>
<% end %>


<%= render :partial => 'form' %>


<% content_for :left_sidebar do %>
    <p>
      You may change the name of a store, but be warned that this will
      change it for all wines from this store.
    </p>
<% end %>
