<% content_for :header do %>
    <h2>New bottle</h2>
<% end %>

<% content_for :left_sidebar do %>
    <p>Use this form to enter details of a new bottle.</p>
    <p>If you don't see the wine or store you need,
    use the 'New...' menu to create it or use these links:</p>

    <%= link_to 'New Wine', new_wine_path %>
    <%= link_to 'New Store', new_store_path %>
<% end %>


<%= render 'form' %>

