<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<%	 @users.each do |u| %>
    <p><%=	u.email %></p>
<%	 end %>

<%= link_to 'New Wino', new_user_path %>
