<%- model_class = Link -%>

<% content_for :header do %>
    <div class="page-header">
      <h3><%= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>
<% end %>

<% content_for :left_sidebar do %>
<% end %>


<%= render :partial => 'form' %>
