<%- model_class = Link -%>

<% content_for :header do %>
    <div class="page-header">
      <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <p>
      Use this screen to add an external link to your favorite wine merchant,
      restaurant, vineyard or rehab center.
    </p>
    <p>
      These links will show up in the menu bar at the top of the screen.
    </p>
<% end %>


<%= render :partial => 'form' %>
