/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
body { padding-left: 20px }
#header {

    padding: 20px;
    background-color: rgba(159, 39, 101, 0.35);
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    font-style: italic;
}
}

#menu {
    background-color: rgba(159, 39, 101, 0.35) ;
    padding: 20px;
    float: left;
}

#content {

    padding: 5px;
    padding-top: 20px;
    background-color: #eff0dd;

    width: 80%;
    float: left;
h3 {
    text-align: center;
}
}

#footer {
    padding: 5px;
    width: 100%;
    background-color: rgba(159, 39, 101, 0.35);
}
