/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* pfcass: is this the right way to drag in variables? */
@import 'scaffolds';

#container {
    width:100%;
    background-color: $background-color;
}

#header {
  margin:20px;
  h1 {
    text-align: center;
  }
  h3 {
    font-style: italic;
  }
}

#menu {
  background-color: $background-color;
  width:20%;
  float:left;
}

#content {
  background-color: $background-color;
  width:80%;
  float:left;
}

#footer {
  width:100%;
  background-color: $background-color;
}
