<% content_for :header do %>
    <h3>Create a new wine</h3>
<% end %>

<%= render 'form' %>

<% content_for :left_sidebar do %>
    <p>Please specify the details of a new wine</p>
    <p>
      If you don't see the Brand, Variety or Region you need, go to the 'New...'
      menu and create the component you need
    </p>
    <p>... and this is a good place to add detailed remarks about the wine</p>
<% end %>